#include "../socket/socket.hh"

namespace srv{
    class Packet
    {
        public:
            Packet();
            virtual ~Packet();
            virtual int send(sck::Socket s) = 0;
        protected:

    };

}

